<% include partials/header%>

<link rel="stylesheet" href="app.css">  

<h1>This is the home page</h1>

<img src = "https://s-media-cache-ak0.pinimg.com/600x315/ed/3a/98/ed3a98348c89dc70d4d4f7ab617f6679.jpg">

<% include partials/footer%>